# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual env
.venv/
env/
venv/

# Playwright
browser-state.json
test-results/
playwright-report/
*.log

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db